{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ayuda a gatos">
    <title>copito-ONG</title>
    <link rel="icon" href="{% static 'img/04fa98a1d0e08ffe2db4603cf76f02bf.png' %}">
</head>
<body>
    <button><a href="{% static 'main.html' %}">volver atras</a></button>
    <img src="{% static 'img/copito3.jpg' %}" alt="copito" width="250px">
    <ul>
        <li>Nombre completo: Copito Hernandez</li>
        <li>Edad: 2 Años</li>
        <li>Sexo: Masculino</li>
        <li>Esterilizado: No</li>
        <li>Nro Chips: 19987</li>
    </ul>
</body>
</html>
