{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Ayuda a gatos" content="width=device-width, initial-scale=1.0">
    <title>nacho-ONG</title>
    <link rel="icon" href="{% static 'img/04fa98a1d0e08ffe2db4603cf76f02bf.png' %}">
</head>
<body>
    <button><a href="/main.html">volver atras</a></button>
    <img src="{% static 'img/nacho1.webp' %}" alt="nacho" width height="250px">
    <ul>
        <li>Nombre completo: nacho obando</li>
        <li>Edad: 1 Años</li>
        <li>Sexo: Masculino</li>
        <li>Esterilizado: sí</li>
        <li>Nro Chips: 19970</li>
    </ul>
</body>
</html>
